@import '~office-ui-fabric-react/dist/sass/References.scss';

.tableIcons {
  i {
    padding: 4px 4px !important;
    font-size: 'large';
  }
}

.tableMediaIcons {
  width: '50px' ;
  position: 'relative';
  i {
    padding: 4px 4px !important;
    font-size: 'large';
  }
}

.cellHidden {
  width: 0px;
  padding: 0px;
  margin: 0px;
}

.folderIcons {
  i {
    padding: 0px 4px !important;
    font-size: 'large';
  };

  width: 40px;
  cursor: 'pointer';
}

.eventsTable {
  table {
    width: 95%;
    table-layout: null;
  }

  td {
    white-space: nowrap;
    padding-right: 20px;
    overflow: 'hidden';
    text-overflow: 'ellipsis';
  };
}

.itemsTable {
  table {
    width: 95%;
    // table-layout: 'fixed';
  };
  
  td {
    white-space: nowrap;
    // padding-right: 20px;
    overflow: 'hidden';
    text-overflow: 'ellipsis';
  };
}